
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method ="post" asp-controller="Login" asp-action="Login">
    <div>
        <label>Username:</label>
        <input typr="text" id="username" name="username" required />
    <div><br />
    <div>
        <label>Password:</label>
        <input typr="text" id="password" name="password" required />
    <div><br />
    <div>
    <button type="submit">Login</button>
    </div>       
</form>

